{% extends "layout.twig" %}

{% block title %}Company - Main{% endblock %}

{% block content %}

{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{# all employee list #}
{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
<div class="ui segment col-50-l">
    <h2>Employees</h2>
    <div>Order by: 
        <a href="{{ basePath }}/main?order=name" class="order-by">Mitarbeiter</a>
        - 
        <a href="{{ basePath }}/main?order=abteilung_name" class="order-by">Abteilung</a>
        - 
        <a href="{{ basePath }}/main?order=standort_name" class="order-by">Standort</a>
    </div>

    {% for mitarbeiter_array in mitarbeiter %}
        <div class="ui">
            {% for person in mitarbeiter_array %}
                {{ person  }} - 
            {% endfor %}
            <a href="{{ basePath }}/destroy?id={{ mitarbeiter_array.id }}/destroy&objekt=mitarbeiter?command=destroy" class="command-delete">X</a>
        </div>
    {% endfor %}
</div>
{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{# end: all employee list #}
{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{# FORM: ADD EMPLOYEE #}
{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
<div class="ui segment col-50-l">

    <h2>Add employee</h2>
        <form class="ui large form" method="POST" action="{{ basePath }}/create?command=create">

            {{ csrf_field|raw }}

            <div class="ui stacked segment">
                <div class="field">
                    <label for="mitarbeiter_name">mitarbeiter name</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="mitarbeiter_name" id="mitarbeiter_name" autocomplete="off" value="{{ old.username }}">
                    </div>
                </div>
                <div class="field">
                    <label for="password">Mitarbeiter age</label>
                    <div class="ui left icon input">
                        <i class=""></i>
                        <input type="text" name="age" id="age">
                    </div>
                </div>
                
                {# ANFANG STANDORTE #}
                <div class="field">
                    <label for="standorte">Standorte</label>
                    <div class="ui left icon input">
                        <i class=""></i>
                        <select name="standorte">
                            <option value="none" selected disabled>-- Bitte wählen --</option>
                            {% for standort_array in standorte %}
                                {% for standort in standort_array %}
                                    <option value="{{ standort }}">
                                        {{ standort  }}
                                    </option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                </div> {# ende standorte #}
                
                {# ANFANG ABTEILUNG #}
                <div class="field">
                    <label for="abteilungen">Abteilungen</label>
                    <div class="ui left icon input">
                        <i class=""></i>
                        <select name="abteilungen">
                            <option value="none" selected disabled>-- Bitte wählen --</option>
                            {% for abteilung_array in abteilungen %}
                                {% for abteilung in abteilung_array %}
                                    <option value="{{ abteilung }}">
                                        {{ abteilung  }}  
                                    </option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                </div> {# ende abteilung #}
                <input type="submit" class="ui fluid large blue submit button">
            </div>
        </form>
</div>
{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{# end form: add employee #}
{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}


{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{# FORM: ADD STANDORT #}
{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
    <div class="ui segment col-50-l">

        <h2>Add Standort</h2>
        <form class="ui large form" method="POST" action="{{ basePath }}/addStandort?command=createStandort">

            {{ csrf_field|raw }}

            <div class="ui stacked segment">
                <div class="field">
                    <label for="add-standort">Neuer standort</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="add-standort" id="add-standort">
                    </div>
                </div>
            <input type="submit" class="ui fluid large blue submit button">
            </div>
        </form>
    </div>



{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{# FORM: DESTROY STANDORT #}
{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
    <div class="ui segment col-50-l">

        <h2>Destroy Standort</h2>
        <form class="ui large form" method="POST" action="{{ basePath }}/destroy?objekt=standorte&command=destroy">
            
            {{ csrf_field|raw }}

            <div class="ui stacked segment">
                <div class="field">
                    <label for="standorte">Standorte</label>
                    <div class="ui left icon input">
                        <i class=""></i>
                        <select name="standorte">
                            <option value="none" selected disabled>-- Bitte wählen --</option>
                            {% for standort_array in standorte %}
                                {% for standort in standort_array %}
                                    <option value="{{ standort }}">
                                        {{ standort  }}
                                    </option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                </div> {# ende standorte #}
                <input type="submit" class="ui fluid large blue submit button">
            </div>
        </form>
    </div>



{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{# FORM: MOVE EMPLOYEE #}
{# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
    <div class="ui segment col-50-l">

        <h2>Move Mitarbeiter</h2>
        <form class="ui large form" method="POST" action="{{ basePath }}/move?objekt=mitarbeiter&command=move">
            
            {{ csrf_field|raw }}

            <div class="ui stacked segment">
                <div class="field">
                    <label for="mitarbeiter">Mitarbeiter</label>
                    <div class="ui left icon input">
                        <i class=""></i>
                        <select name="mitarbeiter">
                            <option value="none" selected disabled>-- Bitte wählen --</option>
                            {% for mitarbeiter_array in mitarbeiter %}
                                {# {% for standort in standort_array %} #}
                                    <option value="{{ mitarbeiter_array.name  }}">
                                        {{ mitarbeiter_array.name  }}
                                    </option>
                                {# {% endfor %} #}
                            {% endfor %}
                        </select>
                    </div>
                </div> {# ende mitarbeiter #}

                <div class="field">
                    <label for="standorte">Standorte</label>
                    <div class="ui left icon input">
                        <i class=""></i>
                        <select name="standorte">
                            <option value="none" selected disabled>-- Bitte wählen --</option>
                            {% for standort_array in standorte %}
                                {% for standort in standort_array %}
                                    <option value="{{ standort }}">
                                        {{ standort  }}
                                    </option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                </div> {# ende standorte #}
                <input type="submit" class="ui fluid large blue submit button">
            </div>
        </form>
    </div>









               












    {% endblock %}